body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif !important;
  background: #000000 !important;
  color: #fff !important;
}

.tab1 {
  position: relative;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0px 0 !important;
}

.MuiAccordionDetails-root {
  padding: 22px 0px 0px !important;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: auto;
}

.disconnectButton {
  background: linear-gradient(180deg, #ed0148 0%, #8c1237 100%) !important;
  color: #ffffff !important;
  box-shadow: 0px -1px 2px 5px #3c252c !important;
  /* border: 3px solid; */
  padding: 10px 30px !important;
  border-image-source: linear-gradient(
    180deg,
    rgba(15, 81, 67, 0.6) 0%,
    rgba(70, 16, 32, 0.6) 100%
  );
}

.mainLayout {
  background: #020202;
  position: relative;
  overflow: hidden;
}

.paperContainerDashboard {
  min-height: 206px;
}

.tab1::before {
  top: 0px;
  left: -4px;
  width: 4px;
  height: 100%;
  z-index: 0;
  content: "";
  position: absolute;
  // border-radius: 14px 12px 15px 14px;
  background-color: #c8c8ca;
}

.tab1 button {
  background-color: transparent;
  border: none;
  padding: 16px 18px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 15px;
}

.tab1 button.active {
  border-left: 6px solid #7a69fe;
  margin-left: -5px;
  // border-radius: 5px;
  padding: 16px 18px;
  background: transparent;
  font-size: 15px;
  color: #161e29;
  font-weight: 600;
  position: relative;
  z-index: 9;
}

.tab1-content {
  padding: 20px;
  border: 1px solid #ddd;
}

.outfitbottomtext {
  margin-top: 227px;
  position: relative;
  position: relative;

  .topborderImg {
    position: absolute;
    top: -34%;
  }

  h6 {
    font-weight: 600;
    font-weight: 600;
    font-size: 14px;
  }

  p {
    margin-top: 10px;
    color: rgba(22, 30, 41, 0.6);
  }
}

.automatedSection {
  padding: 84px 0 50px;
  position: relative;
  // overflow: hidden;
}

///Auto filled webkit
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
  transition: background-color 5000s ease-in-out 0s;
}

///spin button for phone input
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.gradientborder {
  background-image: url(/images/borderImage.png);
  /* background-position: top; */
  background-size: contain;
  background-repeat: round;
}

.clientBox {
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(94deg, #8dffa6 6.46%, #bfff4d 97.99%);
  padding: 10px;
  // margin: 34px 0 0;
  transform: rotate(5deg);
  width: calc(100% - 15px);

  img {
    width: auto;
    max-width: 60px;
  }

  // .displaySpacebetween {
  //   // flex-wrap: wrap;
  // }
}

.bannerlanding {
  // position: relative;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  .bannerrightimg {
    width: auto;
    max-width: 100%;
  }

  .circleImg {
    position: absolute;
    right: 7%;
    z-index: -1;
    opacity: 0.3;
    width: auto;
    max-width: 648px;
    top: 17%;
  }

  .lineBorder {
    position: absolute;
    z-index: -1;
    width: auto;
    max-width: 100%;
    opacity: 0.5;
    /* top: 13%; */
    bottom: 83px;
  }
}

.rulesCard {
  border-radius: 16px;
  background: #030c15;
  position: relative;
  overflow: hidden;

  img {
    width: auto;
    max-width: 100%;
  }
}

.rulesdescriptionBox {
  padding: 0px 20px 20px;
  position: relative;
  z-index: 999;
}

.rulesCard-exchange {
  border-radius: 16px;
  background: #030c15;
  position: relative;
  overflow: hidden;
  max-width: 348px;
  padding: 20px;

  img {
    width: auto;
    max-width: 100%;
  }
}

.gradientmainBox-exchange {
  border-radius: 16px;
  padding: 1px;
  cursor: pointer;
  margin-right: 20px;
  background: linear-gradient(
      0deg,
      rgba(216, 255, 217, 0.16),
      rgba(216, 255, 217, 0.16)
    ),
    linear-gradient(
      270deg,
      rgba(102, 255, 136, 0) 0%,
      rgba(102, 255, 136, 0) 48.96%,
      rgba(102, 255, 136, 0) 100%,
      rgba(102, 255, 136, 0) 100%
    );

  :hover {
    .imagehover {
      display: block;
    }
  }
}

.gradientmainBox {
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(169, 163, 194, 0.2) 0%,
    rgba(169, 163, 194, 0.047) 100%
  );
  min-height: 300px;
}

.imagehover {
  position: absolute;
  width: 100% !important;
  top: 0;
  left: 0px;
  display: none;
}

.sectiongap-main {
  margin-top: 85px !important;
  position: relative;
}

.text-capital {
  text-transform: capitalize;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.drawerBox {
  width: 260px;
  height: 100%;
  display: flex;
  padding: 20px 0px 20px 20px;
  background: #000000;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.tabbutton {
  color: red;
  padding: 10px 30px 10px 0px;
}

.activebutton {
  color: #ff6600;
}

.expertiseBoxtext {
  margin: 0px 0 54px;
}

.borderbottom {
  position: absolute;
  max-width: 137px !important;
  left: 87px;
  bottom: 0;
}

.circleimg {
  position: absolute;
  width: auto;
  max-width: 900px !important;
  opacity: 0.5;
  bottom: -38%;
  left: 20%;
  z-index: -1;
}

.circleboxai {
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideMenuBox {
  overflow: auto;
  padding-bottom: 35px !important;
  // height: calc(100vh - 127px);
}

.sideMenuBox::-webkit-scrollbar {
  display: none;
}

.lineanimation {
  stroke-dasharray: 1;
  stroke-dashoffset: 2;
  animation: lineanimation 1s cubic-bezier(0.4, 0, 0.2, 1) alternate;
}

@keyframes lineanimation {
  0% {
    stroke-dashoffset: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.larnText {
  background: #ffffff1a;
  border-radius: 8px;
  padding: 12px 25px;
}

.displayStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.displayEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.displaySpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displaySpacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.displayAlign {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 150px;
  cursor: pointer;
}

.footerIcons {
  margin-right: 20px !important;
  font-size: 27px !important;
  color: #f53756 !important;
  cursor: pointer;
}

.footerBtn {
  cursor: pointer;
  font-size: 16px !important;
  margin-bottom: 20px !important;
  color: #ffffffde !important;
}

.staticFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainFooterBox {
  padding: 40px 65px;
}

.mainContainer {
  padding: 0px 65px !important;
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  // backdrop-filter: blur(4px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.iconTransparent {
  background-color: transparent !important;

  svg {
    color: #7418c9;
  }
}

.bodyText {
  color: #161e29d6;
}

* {
  scrollbar-width: 7px;
  scrollbar-width: 7px;
}

::-webkit-scrollbar {
  width: 7px;
  // height: 7px; /* Add height for horizontal scrollbar */
  background: #181619;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-corner {
  background: #100e12; /* Match the background color */
}

::-moz-scrollbar {
  width: 7px;
  background: rgba(0, 0, 0, 0.45);
}

/* General container fallback for better appearance */
.container {
  background-color: #181619; /* Ensure no white background peeks through */
}

.blackBox {
  border-radius: 3px;
  background: #161e29;
  padding: 10px 5px;
}

.menuButton {
  color: #adadad !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 15px !important;
  padding: 0px !important;
  min-width: auto !important;
  border-radius: 0px !important;
}

.menuButton1 {
  color: #fff !important;
  padding: 15px 0 !important;
  font-weight: 400 !important;
  display: block;
  border-radius: 0px !important;
  width: 100%;
  justify-content: flex-start !important;
}

.active {
  /* Your active button styles here */
  color: #fff !important;
  border-bottom: 1px solid #ffffff !important;
}

.backbarmainBox {
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.251);
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.textShadowBox {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(90deg, #4cd5d9 0%, #7ee92f 38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.BuildCardBox {
  background: transparent;
  border-radius: 10px;
  margin: 0 6px;

  .buildimg {
    width: auto;
    max-width: 100%;
  }

  .longButton {
    border-radius: 8px;
    border: 0.75px solid #00d1ff;
    background: rgba(0, 209, 255, 0.1);
    color: #00d1ff;
    padding: 6px 15px;
    font-size: 12px;
  }

  .buttonButtom {
    border-radius: 50px !important;
    padding: 8px 20px !important;
    font-size: 12px !important;
    /* border-radius: 35.25px; */
    border: none !important;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 0px 3.525px rgba(255, 255, 255, 0.03);
  }
}

.buildBox {
  padding: 140px 0;
}

.secureBanner {
  display: flex;
  z-index: 1;
  position: relative;
  min-height: 618.54px;
  align-items: center;
  justify-content: center;
}

.main-navigation {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 100%;
}

.main-navigation .bgImagecir {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 220px);
}

@media (max-width: 991px) {
  .main-navigation .bgImagecir {
    width: calc(100% + 130px);
  }
}

.main-navigation .bgcircular {
  width: 100%;
}

@media (max-width: 991px) {
  .main-navigation {
    width: 216px;
    height: 216px;
  }
}

.main-navigation ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.main-navigation ul li {
  position: absolute;
  display: block;
  border-radius: 100%;
  text-align: center;
}

.main-navigation ul li:nth-child(1) {
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation ul li:nth-child(1) a {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(1) {
    top: -32px;
  }
}

.main-navigation ul li:nth-child(2) {
  top: -18px;
  right: 56px;
}

.backsecureImg {
  position: absolute;
  bottom: -93px;
  opacity: 0.5;
  z-index: -1;
  width: auto;
  /* height: 1200px; */
  max-width: 100%;
}

.popularBox .secureCrad:hover {
  border: 1px solid #81e39614;
  background: linear-gradient(
    187deg,
    rgba(0, 209, 255, 0.08) 15.99%,
    rgba(190, 248, 86, 0.08) 99.58%
  );
  // backdrop-filter: blur(75px);
}

.popularBox {
  padding: 140px 0;
  position: relative;

  // cursor: pointer;
  .secureCrad {
    position: relative;
    z-index: 9;
  }

  .shadecircleBox {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.03) 1.97%,
      rgba(255, 255, 255, 0) 113.49%
    );
  }

  img {
    width: auto;
    max-width: 30px;
  }
}

.exchangerBox {
}

.authMainContainer {
  height: initail;
  margin: 15px auto;
}

.authContainer {
  padding: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.74);
  margin: 100px 0 0 !important;
}

.MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232300;
}

.curveLeft {
  opacity: 0.2;
  width: auto;
  max-width: 275px;
  top: 0;
  left: 0;
  position: absolute;
}

.curveright {
  position: absolute;
  right: 0;
  opacity: 0.2;
  width: auto;
  max-width: 165px;
  top: 0;
}

.SupportExchanges {
  position: relative;
}

.main-navigation .bgx1 {
  -webkit-animation: rotating 26s linear infinite;
  animation: rotating 26s linear infinite;
}

.main-navigation .bgx2 {
  -webkit-animation: rotating2 19s linear infinite;
  animation: rotating2 19s linear infinite;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating2 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes rotating2 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.SecureSection {
  position: relative;
  z-index: 9;

  img {
    width: auto;
    max-width: 100%;
  }
}

.loginShadeDashBox {
  z-index: 1 !important;
}

.logoutButton {
  left: 62px;
  bottom: 122px;
  display: flex;
  position: absolute !important;
  font-size: 13px;
  background: transparent;
  align-items: center;
  font-weight: 400;
  justify-content: flex-start;
}

.TextButton {
  position: absolute !important;
  bottom: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0px;
}

.videoBox {
  width: auto;
  position: relative;
  margin-top: -279px;

  video {
    height: 100%;
    width: 100%;
    margin-top: -95px;
  }

  img {
    width: 105%;
  }
}

// .slick-track,
// .slick-list {
//   width: 100% !important;
// }

.filterIcon {
  position: absolute;
  left: 0;
}

.bannerTextBoxvisible {
  position: relative;
  z-index: 9;
  max-width: 935px;
}

.footercenterImg {
  position: absolute;
  left: 54%;
  width: auto;
  /* max-width: 221px; */
  height: 162px;
}

.tabActiveButtons {
  //  border: theme.palette.background.border
  //  background: theme.palette.background.buttonTab
  border-radius: 10px;
  // margin: 5px;
  padding: 10px 25px;
  cursor: pointer;
  white-space: pre;
  //  "& h6": {
  //    fontWeight: 400,
  //  },
}

.tabButtons {
  border-radius: 10px;
  // margin: 5px;
  padding: 10px 25px;
  white-space: pre;
  cursor: pointer;
  //  "& h6": {
  //    fontWeight: 400,
  //  },
}

.topslickslider {
  .slick-next,
  .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    border-radius: 50%;
    background: 0 0;
  }

  .slick-center {
    border-left: 1px solid rgb(178 178 178 / 26%);
    border-right: 1px solid rgb(178 178 178 / 26%);
  }

  .slick-prev:before {
    content: "‹";
  }

  .slick-next:before {
    content: "›";
  }

  .slick-prev {
    left: auto !important;
    bottom: -20px !important;
    top: -40px !important;
    right: 60px !important;
    color: #fff !important;
    z-index: 999 !important;
    background-color: #000 !important;
    border: 2px solid #323232;
    // margin: 0px -20px;

    &:hover {
      background: #000;
      border: solid 2px transparent !important;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(93deg, #72ff90 0.4%, #c0ff4e 97.98%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #050706 inset !important;
      border-radius: 50px !important;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-next {
    top: -40px !important;
    bottom: -20px !important;
    left: auto !important;
    right: 5px !important;
    color: #fff !important;
    background-color: #000 !important;
    border: 2px solid #323232;
    z-index: 999 !important;

    // margin: 0px -20px;
    &:hover {
      background: #000;
      border: solid 2px transparent !important;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(93deg, #72ff90 0.4%, #c0ff4e 97.98%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #050706 inset !important;
      border-radius: 50px !important;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;
    line-height: 1;
    opacity: 1 !important;
    color: #fff;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    margin-top: -17px !important;
  }
}

.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: #ffffff6e !important;
}

.pricemain-landing {
  margin-top: 140px;
}

.MuiInput-root::before {
  border-bottom: none !important;
  left: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  right: 0;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

.optPositionBox {
  position: absolute;
  right: 0%;
  bottom: 0;
  margin-right: 0px !important;
}

.captchamainBox {
  margin-top: 45px !important;
}

.optPositionBoxleft {
  position: absolute;
  left: 22%;
  top: 0;
  margin-right: 0px !important;

  span {
    color: rgb(168, 249, 95);
    cursor: pointer;
    font-size: 13px !important;
    font-weight: 300 !important;
    white-space: pre;
    text-decoration: underline;
  }
}

.SwlectExchangeBox {
  .MuiMenu-paper {
    background: #191919;
    margin-top: 36px;
    max-height: 300px !important;
    outline: 0;
    overflow: auto;
  }
}

.tableContainer {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  // border: 1px solid #72ff9030;
}

.closeIconButton {
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
}

.arrowIconButton {
  position: absolute !important;
  left: 5px !important;
  top: 5px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #fff;
  font-size: 13px;
  width: 30px;
  height: 41px;
}

.slick-dots {
  position: absolute;
  bottom: 40% !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nameTexttopbar {
  margin-left: 250px !important;
}

.performanceBox {
  align-items: flex-end;
  background: #ffffff0a;
  margin-left: -16px;
  padding: 12px;
  justify-content: center;
  border-radius: 0px 40px 40px 0px;
  width: 180px;
}

.ethinnerBox {
  background: #ffffff0d;

  border-radius: 100px;
  padding: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maineth-Box {
  background: #ffffff0a;

  padding: 10px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.leftBorder {
  position: absolute;
  left: 33%;
  top: 24%;
}

.righttBorder {
  position: absolute;
  right: 33%;
  top: 24%;
}

.valueChartBox {
  position: absolute;
  top: 52%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDivider-root {
  border-color: #ffffff1a !important;
}

.piechartBox {
  canvas {
    display: block;
    box-sizing: border-box;
    height: 330px !important;
    width: 130px !important;
    margin-left: 35px !important;
  }

  svg {
    height: 300px !important;
  }
}

.performaince-gap {
  gap: 30px;
}

.paperBox {
  position: relative;
  z-index: 999;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff08;
  height: 100%;
}

.directTabActive {
  border-radius: 8px 0px 0px 8px;
}

.triangularTabActive {
  border-radius: 0px;
}

.intraTabActive {
  border-radius: 0px 8px 8px 0px;
}

.socialBoxtopbar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerText-new {
  cursor: pointer;
}

.logoImg_dash {
  cursor: pointer;
  max-width: 177px;
  width: auto;
}

.rulesheightBox {
  min-height: 294px;
}

.dashboardProfie {
  background: #ffffff0d;
  border: 2px solid rgb(26 26 26);
  border-radius: 12px;
  margin-top: 65px;
}

.dashboardProfile.dashboardProfie {
  width: 90px !important;
  height: 90px !important;
  margin-top: -40px;
  border: 2px solid #ffffff1a;
}

.dashAvtar {
  width: 90px !important;
  height: 90px !important;
  margin-top: -50px;
  border: 2px solid #ffffff1a;
  background-color: rgb(26 26 26) !important;
}

.dashboardShade {
  position: absolute;
  right: -2px;
  top: -2px;
}

.imageIcon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.textDash {
  font-size: 15px !important;
}

.greenText {
  color: #80ec00 !important;
}

.performanceText {
  line-height: 50.4px !important;
  font-size: 38px !important;
}

.lineborderName {
  img {
    margin-left: 164px;
  }
}

.dougnmainBox {
  text-align: right;
  position: relative;
}

// .dougnmainBox::before {
//   position: absolute;
//   width: 1px;
//   height: 100%;
//   background: red;
//   content: '';
//   z-index: 1;
//   top: 0;
// }
.borderBox {
  // position: absolute;
  // right: 51%;
  // top: 31%;
}

.mainethBox {
  gap: 57px;
}

.react-multi-carousel-item {
  margin: 7px;
}

.downloadButton {
  background: #ffffff1a !important;
  border-radius: 12px !important;
  padding: 1px !important;
}

.logoutButtonNew {
  background: transparent !important;
  color: hsla(0, 0%, 100%, 0.6) !important;
  line-height: 20.16px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding-left: 15px !important;
  margin-top: -25px !important;
  border: none !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-input:focus {
  // outline: 1px solid #000 !important;
}

.MuiAutocomplete-input {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.MuiLinearProgress-root {
  border: 1px solid #00000069 !important;
}

// .MuiOutlinedInput-root {
//   border: 1px solid rgba(0, 0, 0, 0.54) !important;
// }
// .MuiFormControl-root-MuiTextField-root.Mui-focused {
//   border-color: #000;

//   border-width: 1px;

// }

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000;

  border-width: 1px;
}

.MuiAutocomplete-inputRoot {
  padding: 12px !important;
  // border: 1px solid rgba(0, 0, 0, 0.1019607843) !important;
  max-height: 52px !important;
}

.resetButton {
  min-width: 111px !important;
}

.downloadButton1 {
  min-width: 95px !important;
}

.depositButton {
  border-radius: 8px !important;
  padding: 9.7px 40px !important;
}

.distributedButton {
  background: #ffffff1a !important;
  padding: 9.7px 40px !important;
  color: #ffffff !important;
  border: 1px solid rgba(255, 255, 255, 0.1019607843) !important;
}

.linerarCenterButton {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 8px;
}

.MuiAccordion-root::before {
  background-color: transparent !important;
}

.banner-section {
  height: 96vh;
  display: flex;
  z-index: 1;
  position: relative;
  paddin-top: 30px;
  align-items: self-end;
  justify-content: center;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-img {
  top: 33px;
  left: 50%;
  z-index: -1;
  position: absolute;
  transform: translateX(-50%);
}

.clientbordergradient {
  padding: 1px;
  border-radius: 16px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.clientImage {
  background: #000;
  border-radius: 16px;
  padding: 14px;
}

.main-sectionGap {
  margin-top: 140px;
}

.featuresRightBox {
  figure {
    // height: auto;
    // overflow: hidden;
    // margin-left: 20px;
    // margin-bottom: 20px;
    height: auto;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
    margin: 0;
    transition: 02s;
    border-radius: 25px;

    &:hover {
      box-shadow: rgb(255, 255, 255, 0.3) 0px 5px 15px;
      border-radius: 25px;
      transition: 02s;
    }
  }

  figure img {
    transition: 02s;
    display: block;
  }

  // figure:hover img {
  //   transform: scale(1.1);
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // }
}

figure {
  margin: 0;
}

.featuresright1 {
  margin-top: 116px;
}

.subheadinGap {
  margin-bottom: 60px !important;
}

.neonBox {
  width: 100vw;
  height: 176px;
  bottom: -85%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  position: absolute;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  animation: pulseAnimation 5s infinite;
  -webkit-animation: pulseAnimation 5s infinite;
  transition: all 0.2s ease-in-out;
  will-change: transform, filter;
  z-index: -1;
  z-index: -1;
}

@keyframes pulseAnimation {
  0% {
    width: 70vw;
    height: 276px;
    background: #9b95ff;
  }

  33% {
    width: 80vw;
    height: 350px;
    background: #9b95ff;
  }

  66% {
    width: 70vw;
    height: 276px;
    background: #202020;
  }

  100% {
    width: 70vw;
    height: 276px;
    background: #9b95ff;
  }
}

/* Add webkit prefixed version for Safari */
@-webkit-keyframes pulseAnimation {
  0% {
    width: 70vw;
    height: 276px;
    background: #9b95ff;
  }

  33% {
    width: 80vw;
    height: 350px;
    background: #9b95ff;
  }

  66% {
    width: 70vw;
    height: 276px;
    background: #202020;
  }

  100% {
    width: 70vw;
    height: 276px;
    background: #9b95ff;
  }
}

.shadeBoxContact {
  position: absolute;
  right: 0;
  top: -9%;
  width: auto;
  max-width: 569px;
}

.main-sectionGap1 {
  margin-top: 130px;
}

.loginText {
  font-size: 30px !important;
  font-weight: 500 !important;
  line-height: 40.32px !important;
}

@keyframes textColorChange {
  0% {
    color: #9b95ff;
  }

  50% {
    color: #202020;
  }

  100% {
    color: #9b95ff;
  }
}

.animatedText {
  animation: textColorChange 5s ease-in-out infinite;
}

.helpcenter {
  cursor: pointer;
}

.walletBox {
  background: #ffffff0d;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 10px;
}

.purpleTextgradient {
  background: linear-gradient(90deg, #806dff 0%, #4a33e7 100%);
}

.purpleTextgradient {
  background: linear-gradient(90deg, #806dff 0%, #4a33e7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plansCardBoxDash {
  height: 91%;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(
    148.85deg,
    rgba(110, 13, 76, 0.7) 22%,
    rgba(53, 8, 43, 0.7) 82%
  );
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
}

.checkplanBox {
  background: #ffffff1a;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 16px 25px;
}

.priceBox {
  background: transparent;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 16px 45px;
  border: 1px solid #ffffff1a;
  cursor: pointer;
}

.borderCenter {
  position: relative;
}

.borderCenter::after {
  position: absolute;
  top: 0;
  left: 55%;
  width: 2px;
  height: 100%;
  border-left: 2px dashed rgba(255, 255, 255, 0.1);
  /* Dashed border with color */
  content: "";
}

.customCheckbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  /* Adjust padding for checkbox space */
  cursor: pointer;
  user-select: none;
}

.customCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.socialButton {
  padding: 0px !important;
  width: auto !important;
  height: auto !important;

  img {
    width: 20px !important;
    height: 20px !important;
  }
}

.width100 {
  width: 100%;
}

.mainContent .staticContent {
  font-size: 14px;
  color: #fff !important;
  word-break: break-all;
}

.mainContent .staticContent figure {
  margin-left: 0;
}

.mainContent .staticContent a {
  word-wrap: break-word;
  background-color: unset !important;
  color: #fff !important;
}

.mainContent .staticContent td {
  background-color: unset !important;
  color: #fff !important;
}

.mainContent .staticContent span,
.mainContent .staticContent section {
  word-wrap: break-word;
  background-color: unset !important;
  color: #fff !important;
}

.mainContent .staticContent iframe {
  width: 100%;
  display: inherit;
}

.mainContent .staticContent img {
  max-width: 100%;
  height: auto;
}

.mainContent .staticContent > * {
  word-wrap: break-word;
  background-color: unset !important;
  word-break: break-word;
  overflow: auto;
  color: #fff !important;
}

.mainContent .staticContent h4,
.mainContent .staticContent h5,
.mainContent .staticContent h1,
.mainContent .staticContent h2,
.mainContent .staticContent h3,
.mainContent .staticContent span,
.mainContent .staticContent em,
.mainContent .staticContent p,
.mainContent .staticContent strong {
  word-wrap: break-word;
  background-color: unset !important;
  color: #fff !important;
}

.mainContent .staticContent p {
  font-size: 14px !important;
}

.signup-scollbar::-webkit-scrollbar {
  width: 0px;
  background: #000;
}

/* Track */
.signup-scollbar::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #000;
}

/* Handle */
.signup-scollbar::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
.signup-scollbar::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.walletButtonBox {
  button {
    background: linear-gradient(90deg, #806dff 0%, #4a33e7 100%);
    border: 1px solid #9a8afe;
    font-family: Outfit;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: #fff !important;
    border-radius: 8px;
    padding: 20px 81px;
    cursor: pointer;
    height: 54px !important;
    display: flex;
    align-items: center;
  }
}

.otp-mainBox {
  max-width: 324px;
}

.logoutButton1 {
  background: rgba(223, 57, 57, 0.0509803922) !important;
  border: 1px solid rgba(223, 57, 57, 0.1019607843) !important;
  padding: 2px !important;
  width: 54px !important;
}

.logoutButton2 {
  border-radius: 8px !important;
  padding: 5px !important;
  height: 43px !important;
  background: rgba(223, 57, 57, 0.0509803922) !important;
  border: 1px solid rgba(223, 57, 57, 0.1019607843) !important;
  padding: 2px !important;
  width: 54px !important;
}

/* Add these styles in your CSS file or MUI's styled component */
.orderDefault {
  order: 1;
}

.orderMd {
  order: 2;
}

.orderLg {
  order: 3;
}

/* Responsive order example */
@media (min-width: 600px) {
  /* sm breakpoint */
  .order1-sm {
    order: 1;
  }

  .order2-sm {
    order: 2;
  }
}

@media (min-width: 960px) {
  /* md breakpoint */
}

@media (min-width: 1280px) {
  /* lg breakpoint */
}

.features-box {
  margin-left: 143px;
}

.features-subheadingBox {
  margin-bottom: 64px;
}

// .mainiframeBox {
//   position: fixed;
//   z-index: 1;
//   right: 20px;
//   bottom: 20px;
//   width: 100%;
//   height: calc(100% - 50px);

// }

.mainiframeBox iframe {
  height: calc(100% - -7px);
  border: none;
  width: 100%;
}

.mainiframeBox {
  height: calc(100% - 50px);
  position: fixed;
  cursor: pointer;
  z-index: 9;
  right: 20px;
  bottom: 20px;
}

.mainiframeBox iframe {
  height: 100%;
  width: 100%;
  border: none;
}

@media (max-width: 767px) {
  .mainiframeBox {
    width: 90%;
  }
}

.otptwofaBox {
  input {
    width: 54px !important;
    height: 54px !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.refresh-icon {
  display: inline-block;
  animation: rotate 1s linear infinite;
}


// Additional Designing start 
.TopBanner21{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BannerAnim{
  width: 500px;
}