@media (max-width: 1440px) {
  .videoBox {
    margin-top: -179px;
  }

  .valueChartBox {

    left: 48%;

  }

  .mainethBox {
    gap: 35px;
  }

  .applyButton {
    padding: 10px 41px !important;
  }

  .resetButton {
    min-width: 80px !important;
  }

  .downloadButton1 {
    min-width: 57px !important;

  }

}

@media (max-width: 1280px) {
  .greenShadeBox {
    right: 0% !important;
  }


  .resend {
    margin-right: -43px !important;
    margin-top: 10px !important;
  }

  .bottomslickbottomslider .slick-next {
    right: 45% !important;
  }
}

@media (max-width: 1200px) {
  .order1-lg {
    order: 1;
  }

  .order2-lg {
    order: 2;
  }

  .nameTexttopbar {
    margin-left: -3px !important;
  }

  .Texttopbartile {
    display: none;
  }

  .leftBox {
    display: none;
  }

  .dashTopbarres {
    justify-content: flex-end;
  }
}

@media (max-width: 1220px) {
  .menuButton {
    padding: 0px 0px !important;
    font-weight: 400 !important;
    margin-bottom: 25px !important;
  }
}

@media (max-width: 1024px) {
  .performanceBox {
    padding: 12px;
  }



  .greenShadeBox {
    right: 0% !important;
    width: 500px;
    height: 500px;
  }

  .secureBanner {
    min-height: 411.54px;
  }

  .mainConatiner {
    padding: 0px 30px !important;
  }

  .bottomslickbottomslider .slick-next {
    right: 43% !important;
  }
}

@media (max-width: 991px) {
  .slick-center {
    border-left: 1px solid transparent !important;
  }

  .features-box {
    margin-left: 52px !important;
  }

  .order1-md {
    order: 1;
  }

  .order2-md {
    order: 2;
  }

  .walletresposnisiveBox {
    display: none;
  }

  .paperBox {
    height: auto;
  }

  .videoBox {
    margin-top: 0px;
  }

  .footercenterImg {
    display: none;
  }

  .popularBox .secureCrad {
    height: auto;
  }

  .secureBanner {
    min-height: "514.54px";
    background-position: -38px 1px;
  }

  .bottomslickbottomslider .slick-next {
    right: 39% !important;
  }

  // .imagebox-contact {
  //   display: none;
  // }
  .shadeBoxContact {
    display: none;
  }
}

@media (max-width: 767px) {
  .featuresRightBox {
    width: 50%;
  }


  .otptwofaBox {
    input {
      width: 33px !important;
      height: 33px !important;
      margin-right: 6px !important;
    }
  }

  .features-subheadingBox {
    margin-bottom: 34px;
  }

  .featuresRightBox figure {
    border-radius: 2px;
  }

  .subheadinGap {
    margin-bottom: 29px !important;
  }

  .slick-center {
    border-left: 1px solid transparent !important;
  }

  .exportButton {
    padding: 14.7px 43px;
  }


  .logoImg {
    width: 50px ;
    cursor: pointer;
  }

  .borderCenter::after {
    position: absolute;
    top: 0;
    left: 55%;
    width: 100%;
    height: 1px;
    border-left: 2px dashed rgba(255, 255, 255, 0.1);
    /* Dashed border with color */
    content: "";
  }

  .main-sectionGap {
    margin-top: 70px;
  }

  .maineth-Box {
    width: 80px;
    height: 80px;
  }

  .mainethBox {
    gap: 11px;
  }

  .header-text {
    display: none;
  }

  .ethinnerBox {
    width: 60px;
    height: 60px;
  }

  .mainethBox {
    gap: 27px;
  }

  .lineborderName {
    display: none;
  }

  .dougnmainBox {
    text-align: center;
  }

  .bannerlanding h1 {
    font-weight: 500;
    font-size: 70px;
    line-height: 40px;
  }

  .logoutButtonNew {
    margin-right: 12px !important;
  }

  .opportyBox-main {
    padding-left: 19px !important;
  }

  .sectiongap-main {
    margin-top: 80px !important;
    position: relative;
  }

  .bannerlanding {
    // padding: 58px 0 0px;
  }

  // .helpImg {
  //   display: none;
  // }
  .performaince-gap {
    gap: 10px;
  }

  .performanceBox {
    padding: 6px;
  }

  .ethText {
    display: none;
  }

  .leftBorder {
    left: 1%;
  }

  .righttBorder {
    right: 1%;
  }

  .priceButtonBox {
    padding: 5px 15px !important;
    font-size: 12px !important;
  }

  .liveleftBox {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }

  .charTabBox {
    flex-wrap: wrap;
    gap: 10px;
  }

  .pricemain-landing {
    margin-top: 70px;
  }

  .optPositionBoxleft {
    left: 10%;
  }

  .optPositionBox {
    right: 0%;
  }

  .videoBox video {
    margin-top: auto;
  }

  .autocompleBox {
    margin-right: 0px !important;
    margin-bottom: 16px;
  }

  .responsivefilter {
    flex-wrap: wrap;
  }

  .logoLeftImg {
    display: none;
  }

  .dashTopbarres {
    justify-content: flex-start;
  }

  .bannerlanding p {
    width: auto !important;
  }

  .popularBox {
    padding: 50px 0;
    position: relative;
  }

  .buildBox {
    padding: 50px 0;
  }

  .curveLeft {
    display: none;
  }

  .curveright {
    display: none;
  }

  .automatedSection {
    overflow: hidden;
  }

  .clientBox {
    width: auto !important;
    transform: rotate(0deg);

    img {
      width: auto;
      max-width: 40px !important;
    }
  }

  .clientBox img {
    width: auto;
    max-width: 130px;
    margin: 10px;
  }

  .lineanimation {
    display: none;
  }

  .steperscrollBox {
    min-width: 100px;
    overflow: auto;
    width: calc(100% - -2px);
  }

  .chatButton {
    padding: 7px 16px !important;
  }

  .gradientTextborder {
    padding: 2px !important;
  }

  .buttonChat .iconBox {
    width: 55px !important;
    height: 55px !important;
    padding: 12px;
  }

  .dropZoneBox {
    padding: 10px 0px;
  }

  .tableContainer .MuiTableCell-root {
    min-width: auto !important;
  }

  .filtersButton {
    margin-left: 0px !important;
    margin-top: 15px !important;
  }

  .sortButton {
    margin-top: 15px !important;
  }

  .dropContantBox {
    padding: 41px 0 0 !important;
  }

  .dropZoneBox .viewImg {
    left: 0 !important;
  }

  .MuiDialogContent-root {
    padding: 15px;
  }

  .createvariantButton1 {
    font-size: 12px !important;
  }

  .createvariantButton {
    margin: 7px !important;
  }

  .firsrdetailsText {
    width: 105px !important;
  }

  .multipleButton {
    flex-wrap: wrap !important;
  }

  .carduserBox {
    padding: 40px 0;
  }

  .frameBox {
    order: 0;
    background: transparent !important;
  }

  .frameBox1 {
    order: 1;
  }

  .detailsImg {
    max-width: 200px;
  }

  .resend {
    margin-right: -138px !important;
    margin-top: 10px !important;
  }

  .socialButtonres {
    margin-left: 0px !important;
  }

  .socialButton {
    padding: 0px !important;
    font-size: 12px !important;
    min-width: 0px !important;


  }

  .mainBox1 {
    padding: 68px 0px 0px;
  }

  .talkimg {
    width: auto;
    max-width: 200px !important;
  }

  .PhoneInput {
    width: calc(100% - 0px) !important;
  }

  .sliderBoxres {
    margin: 42px 0 80px !important;
  }

  .copyBox {
    margin-top: 10px;
  }

  .copyRightBox1 {
    justify-content: center;
    flex-wrap: wrap;
    padding: 26px 0 !important;
  }

  .mainBox .sliderBox input {
    // width: calc(100% - 0px);
    margin: 10px;
  }

  .footerlogo1 {
    width: 70px !important;
  }

  .aspectborder {
    display: none;
  }

  .aspectbutton {
    right: 0;
    top: 25%;
  }

  .planslider {
    width: calc(100% - 0px) !important;
  }

  .staticFooter {
    flex-direction: column;
  }

  .footerBtn {
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }

  .mainFooterBox {
    padding: 20px 35px;
  }

  .mainContainer {
    padding: 0 15px !important;
  }

  // .authContainer {
  //   min-width: 270px !important;
  //   margin: 0px auto !important;
  //   width: 94%;
  //   max-width: 540px;
  // }
}

@media (max-width: 612px) {
  .features-box {
    margin-left: 0px !important;
  }
}

@media (max-width: 425px) {
  .authContainer {
    padding: 20px;
  }

  .rulesCard-exchange {
    max-width: 320px;
  }


}